
<section class="border border-primary p-2 my-2">
    <div class="container">
        <h3 class="text-center border-bottom p-3 tbg">Dashboard</h3>
        <div class="row pb-2">
            <div class="col-md-6 text-center mt-3">
                {{!-- left side --}}
                <img class="shadow p-1 bg-body" src="{{image}}" alt="{{name}}"
                    style="height:150px; width:150px; border-radius:50%;">
                <h4 class="mt-2">Welcome! {{name}} {{lname}}</h4>
                <a class="btn btn-outline-danger btn-sm" href="/auth/logout">Logout</a>

            </div>
            <div class="col-md-6 text-center mt-4">
                {{!-- right side --}}

                <p style="font-weight:bold;">Thank's For Comming! {{name}}</p>
                <p class="py-1">
                    Getting that dream job can seem like an impossible task. We’re here 
                    to change that. Give yourself a real advantage with the best online 
                    resume maker: created by experts, improved by data, trusted by millions 
                    of professionals.
                </p>
                {{>_add_btn}}
                
            </div>

        </div>
    </div>

</section>

{{#if resume}}
<table class="table mt-4 table-hover  border-1">
    <thead class="bg">
        <tr class="t-w-bg">
            <th>Tittle</th>
            <th>Date</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {{#each resume}}
        <tr>
            <td><a href="/resume/{{_id}}" style="text-decoration:none;">{{name}}</a></td>
            <td><span>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</span></td>
            <td><a href="/resume/edit/{{_id}}" class="btn btn-outline-success"><i class="fas fa-edit fa-small"></i></a></td>
            <td>
                <form action="/resume/{{_id}}" method="POST" id="delete-form">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-outline-danger">
                        <i class="fas fa-trash"></i>
                    </button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<div class="alert alert-danger mt-5" role="alert">
    <strong>Warning!</strong> You have not created any Resume
</div>
{{/if}}
